<table>
    <tr>
      <th>Sum</th>
      <th>Type</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% income.each do |money| %>
    <tr>
      <td><%= money.sum %></td>
      <td><%= money.income %></td>
      <td><%= money.category %></td>
      <td><%= link_to 'Show', money %></td>
      <td><%= link_to 'Edit', edit_money_path(money) %></td>
      <td><%= link_to 'Destroy', money, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>